        /* CSS on about.html */

.row.no-gutters .col-md-6 .card {
  height: 100%;
}

.about-links,
.icon {
  font-size: 1.6rem;
  text-align: center;
  height: 75px;
  padding: 20px;
}

.elon {
  margin-bottom: 20px;
}

.github {
  width: 70px;
  margin: auto;
  display: grid;
  text-align: center;
}

.facebook,
.docs {
  width: 58px;
  margin: auto;
  display: grid;
  text-align: center;
}

.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.spacexwhite {
  width: 75%;
}
