        /* CSS used throughout the website */

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700,800i&display=swap);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: url(../images/stars.jpg) center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

h2 {
  padding: 10px 0;
  margin-bottom: 0;
}

a {
  color: #fff;
}

a:hover {
  color: #585858;
}

.container-fluid,
.container {
  padding-right: 0;
  padding-left: 0;
}

.content {
  flex: 1 0 auto;
}

#data {
  padding-top: 76px;
}

.title {
  text-align: center;
  padding: 20px;
  color: #fefefe;
  font-weight: 600;
}

.links {
  padding-bottom: 20px;
}

.display-none {
  display: none;
}

.card {
  margin: 0;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.13);
  border-radius: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000e2;
  color: #fff;
  word-wrap: break-word;
  border: none;
}

.card-header:first-child {
  border-radius: 0;
}

.card-body {
  border-bottom: 1px solid #fff;
}


        /* Navigation Bar Start */

.bg-dark {
  background: #000 !important;
}

.navbar {
  z-index: 100;
  position: absolute;
  width: 100%;
}

.navbar-brand {
  height: 50px;
}

.socialbuttons {
  font-size: 1.5rem;
  color: #f3f3f3;
}

.social:hover {
  color: #949494;
}

button.nav-link {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

        /* Navigation Bar End   */

        /* Loader Start */

.loader {
  border: 16px solid #272727;
  border-top: 16px solid #dadada;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

         /* Loader End */

        /** only on missions page but not making a css file just for this class! */

.mission-links {
  font-size: 1.6rem;
  padding: 20px 0;
  text-align: center;
}

        /* Footer Start */

.site-footer {
  margin-top: 20px;
  flex-shrink: 0;
  background-color: #000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.github:hover {
  background-color: #24292e;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

        /* Footer media queries */

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width:767px) {
  .site-footer {
    padding: 20px;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media (min-width:768px) {
  .about-footer {
    padding-right: 20px;
  }
}

        /* Footer end */