        /* CSS on history.html */ 
.col .card-title + .card-title + .card-text {
  padding-bottom: 40px;
}

.card-header+.card-body .row+.row {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.history-media-buttons {
  font-size: 1.6rem;
  width: 33vw;
  padding: 20px 0;
  text-align: center;
}

.historylinks {
  position: absolute;
  bottom: 0px;
}
