/* CSS on homepage.html */

    /* Down / More Link Start */
.dwn-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

.arrow {
  color: #fff;
}

.arrow:hover {
  color: #fff;
}

    /* Down / More Link End */

    /* Homepage below landing - launch sites and landing sites start */

.website-description {
  padding: 30px;
  color: #fff;
  font-size: 1.3rem;
  background-color: #000018;
}

    /* Both data tabs */

.responsive-tabs {
  text-align: center;
}

.responsive-tabs .state {
  position: absolute;
  left: -10000px;
}

.responsive-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.responsive-tabs .flex-tabs .tab {
  flex-grow: 1;
}

.responsive-tabs .flex-tabs .panel {
  background-color: #000000e2;
  color: #fff;
  padding: 20px;
  display: none;
  width: 100%;
  
}

.responsive-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #000000e2;
  color: #fff;
  cursor: pointer;
  border-left: 10px solid #ccc;
  width: 33%;
}

.responsive-tabs .tab:hover {
  background-color: #000;
}

        /* launch sites data table */

#tab-one:checked~.tabs #tab-one-label,
#tab-two:checked~.tabs #tab-two-label,
#tab-three:checked~.tabs #tab-three-label,
#tab-four:checked~.tabs #tab-four-label,
#tab-five:checked~.tabs #tab-five-label,
#tab-six:checked~.tabs #tab-six-label {
  background-color: #000000;
  cursor: default;
  border-left-color: #69be28;
  color: #fff;
}

#tab-one:checked~.tabs #tab-one-panel,
#tab-two:checked~.tabs #tab-two-panel,
#tab-three:checked~.tabs #tab-three-panel,
#tab-four:checked~.tabs #tab-four-panel,
#tab-five:checked~.tabs #tab-five-panel,
#tab-six:checked~.tabs #tab-six-panel {
  display: block;
}

.launch-item,
.launch-head {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

        /* land sites data table */

#tab-one-land:checked~.tabs #tab-one-label-land,
#tab-two-land:checked~.tabs #tab-two-label-land,
#tab-three-land:checked~.tabs #tab-three-label-land,
#tab-four-land:checked~.tabs #tab-four-label-land,
#tab-five-land:checked~.tabs #tab-five-label-land,
#tab-six-land:checked~.tabs #tab-six-label-land,
#tab-seven-land:checked~.tabs #tab-seven-label-land {
  background-color: #000000;
  cursor: default;
  border-left-color: #69be28;
  color: #fff;
}

#tab-one-land:checked~.tabs #tab-one-panel-land,
#tab-two-land:checked~.tabs #tab-two-panel-land,
#tab-three-land:checked~.tabs #tab-three-panel-land,
#tab-four-land:checked~.tabs #tab-four-panel-land,
#tab-five-land:checked~.tabs #tab-five-panel-land,
#tab-six-land:checked~.tabs #tab-six-panel-land,
#tab-seven-land:checked~.tabs #tab-seven-panel-land {
  display: block;
}

.land-item,
.land-head {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

        /*  table media queries  */

@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }

  .flex-tabs .tab {
    background-color: #0000005b;
    color: #fff;
    cursor: pointer;
    width: 100%;
  }

  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  
    /*  launch site */
  

  #tab-one:checked~.tabs #tab-one-label,
  #tab-two:checked~.tabs #tab-two-label,
  #tab-three:checked~.tabs #tab-three-label,
  #tab-four:checked~.tabs #tab-four-label,
  #tab-five:checked~.tabs #tab-five-label,
  #tab-six:checked~.tabs #tab-six-label {
    border-bottom: none;
  }

  #tab-one:checked~.tabs #tab-one-panel,
  #tab-two:checked~.tabs #tab-two-panel,
  #tab-three:checked~.tabs #tab-three-panel,
  #tab-four:checked~.tabs #tab-four-panel,
  #tab-five:checked~.tabs #tab-five-panel,
  #tab-six:checked~.tabs #tab-six-panel {
    margin-bottom: 10px;
  }
    /*  land site */

  #tab-one-land:checked~.tabs #tab-one-label-land,
  #tab-two-land:checked~.tabs #tab-two-label-land,
  #tab-three-land:checked~.tabs #tab-three-label-land,
  #tab-four-land:checked~.tabs #tab-four-label-land,
  #tab-five-land:checked~.tabs #tab-five-label-land,
  #tab-six-land:checked~.tabs #tab-six-label-land,
  #tab-seven-land:checked~.tabs #tab-seven-label-land {
    border-bottom: none;
  }

  #tab-one-land:checked~.tabs #tab-one-panel-land,
  #tab-two-land:checked~.tabs #tab-two-panel-land,
  #tab-three-land:checked~.tabs #tab-three-panel-land,
  #tab-four-land:checked~.tabs #tab-four-panel-land,
  #tab-five-land:checked~.tabs #tab-five-panel-land,
  #tab-six-land:checked~.tabs #tab-six-panel-land,
  #tab-seven-land:checked~.tabs #tab-seven-panel-land {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* Force table to not be like a table anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
  }

  .launch-item:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 145px;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: 900;
  }

  .launch-item {
    padding-left: 150px;
  }

  .launch-item:nth-of-type(1):before {
    content: "Active:";
  }

  .launch-item:nth-of-type(2):before {
    content: "Location:";
  }

  .launch-item:nth-of-type(3):before {
    content: "Vehicles Launched:";
  }

  .launch-item:nth-of-type(4):before {
    content: "Attempted Launches:";
  }

  .launch-item:nth-of-type(5):before {
    content: "Successful Launches:";
  }

  .launch-item:nth-of-type(6):before {
    content: "Wikipedia:";
  }

  .launch-item:nth-of-type(7) {
    padding-left: 0;
  }

  .land-item:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 145px;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: 900;
  }

  .land-item {
    padding-left: 150px;
  }

  .land-item:nth-of-type(1):before {
    content: "Active:";
  }

  .land-item:nth-of-type(2):before {
    content: "Location:";
  }

  .land-item:nth-of-type(3):before {
    content: "Pad Type:";
  }

  .land-item:nth-of-type(4):before {
    content: "Attempted Landings:";
  }

  .land-item:nth-of-type(5):before {
    content: "Successful Landings:";
  }

  .land-item:nth-of-type(6):before {
    content: "Wikipedia:";
  }

  .land-item:nth-of-type(7) {
    padding-left: 0;
  }
}

/* Homepage below landing - launch sites and landing sites End */