/*  CSS on rockets.html and dragons.html */

.rocket-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
}

#rocketstats .card {
  height: 100%;
}

#dragonstats .card {
  height: 100%;
}

#flickr-images {
  height: 700px;
  align-items: center;
  display: flex;
}

.rocket-dragon-links {
  font-size: 1.6rem;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid #ffffffad;
}

@media (max-width:850px) {
  .card-body .row .col-md-6 {
    padding-bottom: 100px;
  }
  .card-body .row .col-md-6.text-center {
    padding-bottom: 0;
  }
}

