@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700,800i&display=swap");

* {
  box-sizing: border-box;
}

html,body {
  font-family: "Titillium Web", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: url("../images/stars.jpg") center center no-repeat fixed;
  background-size: cover;
  flex: 1 0 auto;
}

#data {
    
    padding-top: 76px;
}

.container-fluid,
.container {
    padding-right: 0;
    padding-left: 0;
}

/*       Background           */

.overlay {
  padding-top: 76px;
  background-color: #000000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

.bg {
    background: url("../images/crewdragon.jpg") center center no-repeat;
    background-size: cover;
    height:100vh;
}

/*     Navigation Bar     */

.bg-dark {
  background: #000 !important;
}

button.nav-link {
  background-color: transparent;
  border: none;
}

button:focus {
    outline: none;
}

.navbar {
    z-index: 100;
    position: absolute;
    width:100%;
}

.navbar-brand {
  height: 60px;
}

.social {
    color: #fff;
}

.social:hover {
    color: #949494;
}

/*    loader     */

.loader {
  border: 16px solid #272727;
  border-top: 16px solid #dadada; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

/*   Titles - Headers - cards   */

h2 {
  padding: 20px 0;
}

.title {
    text-align: center;
    padding:20px;
    color: #fefefe;
    font-weight: 600;
}

.card {
  margin: 30px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.2s linear;
  padding: 0;
  border: 0;
}

/*   wikipedia - video - article - social links  */

.media-buttons {              /* found on launches page */  
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 1.3rem;
}

.history-media-buttons {     /* found on history page */
    position: absolute;
    right: 65px;
    font-size: 1.3rem;
}

.socialbuttons {            /* found on about page */
    font-size: 1.5rem;
    color:#f3f3f3; 
}

.icon {
    height: 50px;
    font-size: 40px;
    line-height: 40px;
}

.elon { 
    margin-bottom: 20px;
    
}
.github {
  width: 70px;
  margin: 20px 20px 0 20px;
  display: grid;
  text-align: center;
}

.facebook {
  width: 58px;
  margin: 20px 20px 0 20px;
  display: grid;
  text-align: center;
}

.docs {
  width: 58px;
  margin: 20px 20px 0 20px;
  display: grid;
  text-align: center;
}

/*    home page carousel    */

.card.card-carousel {
    color: rgba(0,0,0,.87);
    width:100%;
    text-align: center;
    height: 100%;
    margin: 0;
    background: transparent;
    overflow: hidden;
    box-shadow: none;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators {
    bottom: 5px;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 2px;
}

.carousel .carousel-indicators .active{
    margin: 11px 10px; 
} 

.carousel .carousel-indicators li {
    margin: 11px 10px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    transform: scale(1.1);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}


.carousel-item {
    position: relative;
    display: none;
    align-items: center;
    transition: transform .6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
}

.details-container {
    height: 65vh;
}

.carousel-item.active {
    display: block;
}

.carousel .carousel-caption {
    padding-bottom: 45px;
}
.carousel .carousel-caption img {
    position: absolute;
    top: 0;
    width:100px;
    left: 50px;
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

.carousel .carousel-control-next .material-icons{
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    margin: auto;
}

.carousel .carousel-control-prev .material-icons {
    z-index: 5;
    display: inline-block;
    font-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

.carousel-control-next-home, .carousel-control-prev-home {
    position: absolute;
    bottom: unset;
    top: unset;
    color: #fff;
    text-align: center;
    width: unset;
    font-size: 30px;
}

.carousel-control-prev-home {
    left: 40vw;
}

.carousel-control-next-home {
    right: 40vw;
}

.carousel-caption {

    color: #fff;
    text-align:left;
}

/* home page placeholders for data and countdown styling  */

.mission-name {
    position: absolute;
    top: -10px;
    font-size: small;
}

.site {
    position: absolute;
    top: 100px;
    font-size: small;
}

.rocket {
    position: absolute;
    top: 27px;
    right: 20px;
    font-size: small;
    width:75px;
}

.type {
    position: absolute;
    top: 62px;
    right: 20px;
    font-size: small;
    width:100px
}

.flight {
    position: absolute;
    top: -10px;
    right:20px;
    font-size: small;
    width: 75px;
}

.countdown {
    height: 125px;
    position: absolute;
    top: 20px;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/*          launches page            */

.green {
    background: green;
    color: #fff;
}

.red {
    background: red;
    color: #fff;
}

.launch-success {
    position: absolute;
    left: 20px;
    font-size: small;
    top: 40px;
}

/*  Launches page pagination styling   */

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    position: fixed;
    top: 200px;
    right: 0;
    font-size: 1.5rem;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: .25rem;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1f1f44;
    border-color: #1f1f44;
}

/*  rockets page image styling */

.rocket-image {
  width: 100%;
  max-width:400px;
  height: auto;
  text-align: center;
}
.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*     about page    */

.spacexwhite {
  width: 75%;
}

/*    contact form      */

.contact {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  padding-top: 76px;
  margin-top: 0;

}

form {
  padding: 2rem;
}

form div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

form div label {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "Karla", sans-serif;
  font-size: 0.75rem;
  color: #555555;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  opacity: 0;
  order: 1;
}

form div input {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  appearance: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #555555;
  position: relative;
  display: block;
  order: 2;
  border: 1px solid transparent;
}

form div input:valid + label {
  opacity: 1;
}

form div input:focus {
  border: 1px solid #5f6edc;
}

form div textarea {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #555555;
  appearance: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
  position: relative;
  display: block;
  order: 2;
  resize: none;
  height: 120px;
  border: 1px solid transparent;
}

form div textarea:valid + label {
  opacity: 1;
}

form div textarea:focus {
  border: 1px solid #5f6edc;
}

form div button {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  background-color: #ff4a5d;
  color: #ffffff;
  border: none;
  max-width: 210px;
  cursor: pointer;
}

form div button:hover {
  background-color: #5f6edc;
}

/*          footer      */


.site-footer
{ flex-shrink: 0;
  background-color:#000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*    media queries    */


@media (max-width: 575.98px) { 
    .pagination {
        flex-direction: row;
        top: 0;
        position: relative;
        font-size: 1rem;
    } 

    .page-item:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}